
/* styles.css o styles.scss */
.custom-image {
  width: 500px; /* Ajusta el ancho según tus necesidades */
  height: 280px; /* Ajusta el alto según tus necesidades */
  /* También puedes usar otras propiedades, como max-width, max-height, etc. */
}

/* styles.css o styles.scss */
.center-text {
  text-align: center;
}


